<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout}">

<head>
    <title>Add admin</title>
</head>

<body>
    <!-- CONTENT WRAPPER -->
    <div class="ec-content-wrapper" layout:fragment="content">
        <div class="content">
            <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
                <div>
                    <h1>Add New admin</h1>
                    <p class="breadcrumbs"><span><a href="/admin">Home</a></span>
                        <span><i class="mdi mdi-chevron-right"></i></span>Admin user
                    </p>
                </div>
                <div>
                    <a href="/admin/admin-user/" class="btn btn-primary"> View All
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header card-header-border-bottom">
                            <h2>Add admin user</h2>
                        </div>
                        <div th:if="${messages != null}" th:text="${messages}" class="alert alert-danger mt-4">

                        </div>
                        <div class="card-body">
                            <div class="row ec-vendor-uploads">
                                <form method="POST" th:action="@{/admin/admin-user/add}" th:object="${adminUser}"
                                    class="row g-3" enctype="multipart/form-data">
                                    <div class="col-lg-8">
                                        <div class="ec-vendor-upload-detail">
                                            <div class="row g-3">
                                                <div class="col-md-6">
                                                    <label for="firstName" class="form-label">First name</label>
                                                    <input type="text" class="form-control slug-title"
                                                        placeholder="First name" th:field="*{firstName}">
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('firstName')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="lastName" class="form-label">Last name</label>
                                                    <input type="text" class="form-control slug-title"
                                                        placeholder="Last name" th:field="*{lastName}">
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('lastName')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="telephone" class="form-label">Telephone</label>
                                                    <input type="text" class="form-control slug-title"
                                                        placeholder="Telephone" th:field="*{telephone}">
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('telephone')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="email" class="form-label">Email</label>
                                                    <input type="email" class="form-control slug-title"
                                                        placeholder="Email" th:field="*{email}">
                                                    <p class="text-danger" th:each="error: ${#fields.errors('email')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="password" class="form-label">Password</label>
                                                    <input type="password" class="form-control slug-title"
                                                        placeholder="Password" th:field="*{password}">
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('password')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="retypePassword" class="form-label">Confirm Password</label>
                                                    <input type="password" class="form-control slug-title"
                                                        placeholder="Confirm Password" th:field="*{retypePassword}">
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('retypePassword')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="form-group col-12 form-check form-switch m-3">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="isLocked" checked th:field="*{isLocked}">
                                                    <label class="form-check-label" for="isActived">Is Locked</label>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="product_add_cancel_button">
                                                        <button type="submit" class="btn btn-border">Cancel</button>
                                                        <button type="submit" class="btn btn-primary">Add
                                                            New</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="ec-vendor-img-upload">
                                            <div class="ec-vendor-main-img">
                                                <label class="form-check-label">Image upload</label>
                                                <p class="text-danger" th:each="error: ${#fields.errors('avatar')}"
                                                    th:text="${error}"></p>
                                                <div class="avatar-upload">
                                                    <div class="avatar-edit">
                                                        <input type="file" id="uploadAvatar" class="ec-image-upload"
                                                            th:field="*{uploadAvatar}" accept=".png, .jpg, .jpeg">
                                                        <label for="uploadAvatar"><img
                                                                src="https://andit.co/projects/html/andshop/andshop-dashboard/assets/img/icons/edit.svg"
                                                                class="svg_img header_svg" alt="edit"></label>
                                                    </div>
                                                    <div class="avatar-preview ec-preview">
                                                        <div class="imagePreview ec-div-preview">
                                                            <img class="ec-image-preview"
                                                            src="/img/common/avatar.png"
                                                                alt="edit">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Content -->
    </div> <!-- End Content Wrapper -->

    <th:block layout:fragment="footer_optional">
        <!-- Option Switcher -->
        <script th:src="@{/admin/plugins/options-sidebar/optionswitcher.js}"></script>
    </th:block>
</body>

</html>
