<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout}">

<head>
    <title>List coupon</title>
    <th:block layout:fragment="header_optional">
        <!-- No Extra plugin used -->
        <link th:src="@{/admin/plugins/data-tables/datatables.bootstrap5.min.css}" rel="stylesheet">
        <link th:src="@{/admin/plugins/data-tables/responsive.datatables.min.css}" rel="stylesheet">
    </th:block>
</head>

<body>
    <!-- CONTENT WRAPPER -->
    <div class="ec-content-wrapper" layout:fragment="content">
        <div class="content">
            <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
                <div>
                    <h1>All admin</h1>
                    <p class="breadcrumbs"><span><a href="index.html">Home</a></span>
                        <span><i class="mdi mdi-chevron-right"></i></span>Admin user
                    </p>
                </div>
                <div>
                    <a href="/admin/admin-user/add" class="btn btn-primary"> Add new</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="">
                                <div id="responsive-data-table_wrapper"
                                    class="dataTables_wrapper dt-bootstrap5 no-footer">

                                    <table id="responsive-data-table" class="table dataTable no-footer"
                                        style="width:100%" aria-describedby="responsive-data-table_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting sorting_asc" tabindex="0"
                                                    aria-controls="responsive-data-table" rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="ID: activate to sort column descending"
                                                    style="width: 39.6875px;">ID</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Img: activate to sort column ascending"
                                                    style="width: 180.0977px;">Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Name: activate to sort column ascending"
                                                    style="width: 99.062px;">Avatar</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Category: activate to sort column ascending"
                                                    style="width: 118.672px;">Telephone</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Category: activate to sort column ascending"
                                                    style="width: 118.672px;">Email</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Is active: activate to sort column ascending"
                                                    style="width: 104.375px;">Last Login</th>
                                                    <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Is active: activate to sort column ascending"
                                                    style="width: 104.375px;">Is Locked</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Action: activate to sort column ascending"
                                                    style="width: 107.109px;">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd" th:each="adminUser : ${adminUsers}">
                                                <td class="sorting_1" th:text="${adminUser.id}"></td>
                                                <td th:text="${adminUser.firstName +' '+ adminUser.lastName}"></td>
                                                <td>
                                                    <img class="tbl-thumb" th:if="${adminUser.avatar !=null}"
                                                    th:src="|data:image/png;base64, *{adminUser.avatar}|" alt="img">
                                                    <img class="tbl-thumb" th:if="${adminUser.avatar == null}"
                                                    src="/img/common/avatar.png" alt="img">
                                                </td>
                                                <td th:text="${adminUser.telephone}"></td>
                                                <td th:text="${adminUser.email}"></td>
                                                <td th:text="${{adminUser.lastLogin}}"></td>
                                                <td th:text="${adminUser.isLocked}"></td>
                                                <td>
                                                    <div class="btn-group mb-1">
                                                        <a  th:href="@{/admin/admin-user/{id}(id=${adminUser.id})}"
                                                            class="btn btn-outline-success">Info</a>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Content -->
    </div> <!-- End Content Wrapper -->
    <th:block layout:fragment="footer_optional">
        <!-- Datatables -->
        <script th:src="@{/admin/plugins/data-tables/jquery.datatables.min.js}"></script>
        <script th:src="@{/admin/plugins/data-tables/datatables.bootstrap5.min.js}"></script>
        <script th:src="@{/admin/plugins/data-tables/datatables.responsive.min.js}"></script>
        <!-- Option Switcher -->
        <script th:src="@{/admin/plugins/options-sidebar/optionswitcher.js}"></script>
    </th:block>
</body>

</html>