<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">

<head>
    <title>My Account</title>
</head>

<body>
    <!-- Banner Area -->
    <section id="common_banner_one" layout:fragment="banner">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_banner_text">
                        <h2>My Account</h2>
                        <ul>
                            <li><a th:href="@{/home}">Home</a></li>
                            <li><i class="fas fa-slash"></i></li>
                            <li class="active">My Account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- My-account-area-Area -->
    <section id="my-account_area" class="ptb-100" layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li><a href="#!" data-bs-toggle="tab" data-bs-target="#dashboard"><i
                                        class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                            <li> <a href="#!" data-bs-toggle="tab" data-bs-target="#orders"><i
                                        class="fas fa-cart-arrow-down"></i>Orders</a></li>
                            <li><a href="#!" data-bs-toggle="tab" data-bs-target="#account-details"><i
                                        class="fas fa-user"></i>Account
                                    details</a>
                            </li>
                            <li><a th:href="@{/logout}" class=""><i class="fas fa-sign-out-alt"></i>logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade show active" id="dashboard">
                            <div class="myaccount-content">
                                <h4 class="title">Dashboard </h4>
                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent
                                        orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a
                                        href="#">Edit your password and account details.</a></p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="orders">
                            <div class="myaccount-content">
                                <h4 class="title">Orders </h4>
                                <div class="table_page table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>May 10, 2018</td>
                                                <td><span class="success">Completed</span></td>
                                                <td>$25.00 for 1 item </td>
                                                <td><a href="cart.html" class="view">view</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>May 10, 2018</td>
                                                <td>Processing</td>
                                                <td>$17.00 for 1 item </td>
                                                <td><a href="cart.html" class="view">view</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="account-details">
                            <div class="myaccount-content">
                                <h4 class="title">Account details</h4>
                                <div class="login_form_container">
                                    <div class="account_details_form">
                                        <form method="POST" th:action="@{/user/update-account}" th:object="${user}"
                                            enctype="multipart/form-data">
                                            <div class="img_profiles">
                                                <a onclick="open_upload()"><img id="avatar"
                                                        th:src="|data:image/png;base64, *{avatar}|" alt="img">
                                                </a>
                                                <input type="file" accept="image/*" th:field="*{upload}" hidden>
                                            </div>
                                            <div class="input-radio">
                                                <span class="custom-radio">
                                                    <input type="radio" th:field="*{gender}" th:value="true"
                                                        th:checked="${user.gender}" /> Mr.</span>
                                                <span class="custom-radio">
                                                    <input type="radio" th:field="*{gender}" th:value="false"
                                                        th:checked="${!user.gender}" /> Mrs.</span>
                                            </div>
                                            <div class="row">
                                                <div class="default-form-box col-lg-6">
                                                    <label for="firstName">First name <span>*</span></label>
                                                    <input type="text" class="form-control" th:field="*{firstName}"
                                                        autofocus>
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('firstName')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="default-form-box col-lg-6">
                                                    <label for="lastName">Last name <span>*</span></label>
                                                    <input type="text" class="form-control" th:field="*{lastName}">
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('lastName')}"
                                                        th:text="${error}"></p>
                                                </div>
                                            </div>
                                            <div class="default-form-box">
                                                <label for="birthdate">Birthdate <span>*</span></label>
                                                <input type="date" class="form-control" th:field="*{birthdate}">
                                                <p class="text-danger" th:each="error: ${#fields.errors('birthdate')}"
                                                    th:text="${error}"></p>
                                            </div>
                                            <div class="default-form-box">
                                                <label for="telephone">Telephone <span>*</span></label>
                                                <input type="text" class="form-control" th:field="*{telephone}">
                                                <p class="text-danger" th:each="error: ${#fields.errors('telephone')}"
                                                    th:text="${error}"></p>
                                            </div>
                                            <div class="default-form-box">
                                                <label for="apartmentNumber">Apartment number <span>*</span></label>
                                                <input type="text" class="form-control" th:field="*{apartmentNumber}">
                                                <p class="text-danger"
                                                    th:each="error: ${#fields.errors('apartmentNumber')}"
                                                    th:text="${error}"></p>
                                            </div>
                                            <div class="row">
                                                <div class="default-form-box col-lg-6">
                                                    <label for="street">Street <span>*</span></label>
                                                    <input type="text" class="form-control" th:field="*{street}">
                                                    <p class="text-danger" th:each="error: ${#fields.errors('street')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="default-form-box col-lg-6">
                                                    <label for="ward">Ward <span>*</span></label>
                                                    <input type="text" class="form-control" th:field="*{ward}">
                                                    <p class="text-danger" th:each="error: ${#fields.errors('ward')}"
                                                        th:text="${error}"></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="default-form-box col-lg-6">
                                                    <label for="district">District <span>*</span></label>
                                                    <input type="text" class="form-control" th:field="*{district}">
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('district')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="default-form-box col-lg-6">
                                                    <label for="city">City <span>*</span></label>
                                                    <input type="text" class="form-control" th:field="*{city}">
                                                    <p class="text-danger" th:each="error: ${#fields.errors('city')}"
                                                        th:text="${error}"></p>
                                                </div>
                                            </div>
                                            <div class="default-form-box">
                                                <label for="email">Email <span>*</span></label>
                                                <input type="email" class="form-control" th:field="*{email}" readonly>
                                            </div>
                                            <div class="default-form-box">
                                                <label for="newPassword">New password <span>*</span></label>
                                                <input type="password" class="form-control" th:field="*{newPassword}">
                                                <p class="text-danger" th:each="error: ${#fields.errors('newPassword')}"
                                                    th:text="${error}"></p>
                                            </div>
                                            <p class="text-danger" th:if="${message != null}" th:text="${message}"></p>
                                            <br>
                                            <p class="text-danger"
                                                th:each="error: ${#fields.errors('receiveNewsletter')}"
                                                th:text="${error}"></p>
                                            <label class="checkbox-default">
                                                <input type="checkbox" th:field="*{receiveOffers}">
                                                <span>Receive offers from our partners</span>
                                            </label>
                                            <p class="text-danger" th:each="error: ${#fields.errors('receiveOffers')}"
                                                th:text="${error}"></p>
                                            </br>
                                            <br>
                                            <label class="checkbox-default">
                                                <input type="checkbox" th:field="*{receiveNewsletter}">
                                                <span>Sign up for our newsletter<br><em>You may unsubscribe at any
                                                        moment. For that purpose, please find our contact info in the
                                                        legal notice.</em></span>
                                            </label>
                                            </br>
                                            <div class="save_button mt-3">
                                                <button type="submit"
                                                    class="theme-btn-one bg-black btn_sm">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional Section -->
    <th:block layout:fragment="optional">
        <script>
            $('a[data-bs-toggle="tab"]').click(function () {
                localStorage.setItem("CURRENT_TAB", $(this).attr('data-bs-target'));
            });
            $(document).ready(function () {
                var tab = localStorage.getItem('CURRENT_TAB') == null ? '#dashboard' : localStorage.getItem('CURRENT_TAB');
                $(`a[data-bs-toggle="tab"][data-bs-target="${tab}"]`)[0].click();
            });
        </script>
    </th:block>
</body>

</html>