<!-- CopyRight Area -->
<section id="copyright_one" th:fragment="copy_right">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="copyright_left">
                    <h6>© CopyRight 2023
                        <span>AndShop</span>
                    </h6>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="copyright_right">
                    <img th:src="@{/img/common/payment.png}" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>