<!-- Footer Area -->
<footer id="footer_one" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="footer_left_side">
                    <a href="#!"><img th:src="@{/img/logo.png}" alt="logo"></a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Obcaecati culpa assumenda voluptas placeat amet consectetur adipisicing elit.
                        Obcaecati culpa assumenda voluptas placeat.</p>
                    <div class="footer_left_side_icon">
                        <ul>
                            <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#!"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="footer_one_widget">
                    <h3>INFORMATION</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li> <a href="about-us.html">About Us</a></li>
                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li><a href="faq.html">Frequently Questions</a></li>
                        <li><a href="order-tracking.html">Order Tracking</a></li>
                        <li><a href="compare.html">Compare</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                <div class="footer_one_widget">
                    <h3>Your Account</h3>
                    <ul>
                        <li><a href="cart.html">Cart View One</a></li>
                        <li><a href="cart-2.html">Cart View Two </a></li>
                        <li><a href="empty-cart.html">Empty Cart</a></li>
                        <li><a href="checkout.html">Checkout View One</a></li>
                        <li><a href="checkout-2.html">Checkout View Two</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="footer_one_widget">
                    <h3>NEWSLETTER</h3>
                    <div id="mc_embed_signup" class="subscribe-form">
                        <form>
                            <div class="mc-form">
                                <input class="form-control" type="email" required="" placeholder="Your Mail*"
                                    name="EMAIL" value="">
                                <div class="clear">
                                    <button class="theme-btn-one btn_md" type="submit" name="subscribe" value=""><i
                                            class="icon-cursor"></i> Send Mail</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>