<!-- Shopingcart Modal Area Start-->
<div class="modal right fade shoppingCartModal" id="shoppingCartModal" tabindex="-1" role="dialog" th:fragment="shopping_cart">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <h3>My Cart (3)</h3>
                <div class="products-cart-content">
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img
                                    src="https://andit.co/projects/html/andshop/andshop_frontend/assets/img/product-image/product1.png"
                                    alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Coronavirus Face Mask</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$39.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img
                                    src="https://andit.co/projects/html/andshop/andshop_frontend/assets/img/product-image/product2.png"
                                    alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Protective Gloves</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$99.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img
                                    src="https://andit.co/projects/html/andshop/andshop_frontend/assets/img/product-image/product3.png"
                                    alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Infrared Thermometer Gun</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$90.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="products-cart-subtotal">
                    <span>Subtotal</span>
                    <span class="subtotal">$228.00</span>
                </div>
                <div class="products-cart-btn">
                    <a href="checkout.html" class="theme-btn-one btn-black-overlay btn_md">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>