<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout}">

<head>
    <title>List product</title>
    <th:block layout:fragment="header_optional">
        <!-- No Extra plugin used -->
        <link th:src="@{/admin/plugins/data-tables/datatables.bootstrap5.min.css}" rel="stylesheet">
        <link th:src="@{/admin/plugins/data-tables/responsive.datatables.min.css}" rel="stylesheet">
    </th:block>
</head>

<body>
    <!-- CONTENT WRAPPER -->
    <div class="ec-content-wrapper" layout:fragment="content">
        <div class="content">
            <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
                <div>
                    <h1>All products</h1>
                    <p class="breadcrumbs"><span><a href="index.html">Home</a></span>
                        <span><i class="mdi mdi-chevron-right"></i></span>Product
                    </p>
                </div>
                <div>
                    <a href="product-add.html" class="btn btn-primary"> Add Porduct</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="">
                                <div id="responsive-data-table_wrapper"
                                    class="dataTables_wrapper dt-bootstrap5 no-footer">
                                    
                                    <table id="responsive-data-table" class="table dataTable no-footer"
                                        style="width:100%" aria-describedby="responsive-data-table_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting sorting_asc" tabindex="0"
                                                    aria-controls="responsive-data-table" rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="ID: activate to sort column descending"
                                                    style="width: 39.6875px;">ID</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Img: activate to sort column ascending"
                                                    style="width: 80.0977px;">Img</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Name: activate to sort column ascending"
                                                    style="width: 199.062px;">Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Category: activate to sort column ascending"
                                                    style="width: 118.672px;">Category</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Import price: activate to sort column ascending"
                                                    style="width: 71.0156px;">Import price</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Sell price: activate to sort column ascending"
                                                    style="width: 133.008px;">Sell price</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Discount percent: activate to sort column ascending"
                                                    style="width: 77.5195px;">Discount percent</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Is active: activate to sort column ascending"
                                                    style="width: 104.375px;">Is active</th>
                                                <th class="sorting" tabindex="0" aria-controls="responsive-data-table"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Action: activate to sort column ascending"
                                                    style="width: 107.109px;">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd" th:each="product : ${products}">
                                                <td class="sorting_1" th:text="${product.id}"></td>
                                                <td><img class="tbl-thumb"
                                                        src="https://andit.co/projects/html/andshop/andshop-dashboard/assets/img/products/pro-sm-1.png"
                                                        alt="Product Image"></td>
                                                <td th:text="${product.name}"></td>
                                                <td th:text="${product.productCategory.name}"></td>
                                                <td th:text="${product.importPrice}"></td>
                                                <td th:text="${product.sellPrice}"></td>
                                                <td th:text="${product.discountPercent}"></td>
                                                <td th:text="${product.isActived}"></td>
                                                <td>
                                                    <div class="btn-group mb-1">
                                                        <button type="button"
                                                            class="btn btn-outline-success">Info</button>
                                                        <button type="button"
                                                            class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false" data-display="static">
                                                            <span class="sr-only">Info</span>
                                                        </button>

                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" th:href="@{edit/{id}(id=${product.id})}">Edit</a>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Content -->
    </div> <!-- End Content Wrapper -->
    <th:block layout:fragment="footer_optional">
        <!-- Datatables -->
        <script th:src="@{/admin/plugins/data-tables/jquery.datatables.min.js}"></script>
        <script th:src="@{/admin/plugins/data-tables/datatables.bootstrap5.min.js}"></script>
        <script th:src="@{/admin/plugins/data-tables/datatables.responsive.min.js}"></script>
        <!-- Option Switcher -->
        <script th:src="@{/admin/plugins/options-sidebar/optionswitcher.js}"></script>
    </th:block>
</body>

</html>