<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout}">

<head>
    <title>Categories</title>
    <th:block layout:fragment="header_optional">
        <!-- No Extra plugin used -->
        <link th:src="@{/admin/plugins/data-tables/datatables.bootstrap5.min.css}" rel="stylesheet">
        <link th:src="@{/admin/plugins/data-tables/responsive.datatables.min.css}" rel="stylesheet">
    </th:block>
</head>

<body>
    <!-- CONTENT WRAPPER -->
    <div class="ec-content-wrapper" layout:fragment="content">
        <div class="content">
            <div class="breadcrumb-wrapper">
                <div>
                    <h1>Order details</h1>
                    <p class="breadcrumbs"><span><a href="index.html">Home</a></span>
                        <span><i class="mdi mdi-chevron-right"></i></span>Order details
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="ec-odr-dtl card card-default">
                        <div class="card-header card-header-border-bottom d-flex justify-content-between">
                            <h2 class="ec-odr">Order details</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-3 col-lg-6">
                                    <address class="info-grid">
                                        <div class="info-content">
                                            <h5 class="title_infos"> <span class="mdi mdi-account-circle"></span>
                                                Customer info</h5>
                                            <ul>
                                                <li>Name: <span> John Petricia</span></li>
                                                <li>Email: <span>petri@domain.com</span> </li>
                                                <li>Phone: <span>(012) 345-678-9012</span></li>
                                            </ul>
                                            <a href="#!">View profile</a>
                                        </div>
                                    </address>
                                </div>
                                <div class="col-xl-3 col-lg-6">
                                    <address class="info-grid">
                                        <div class="info-content">
                                            <h5 class="title_infos"> <span class="mdi mdi-ship-wheel"></span>
                                                Shipping info</h5>
                                            <ul>
                                                <li>Name: <span> Home</span></li>
                                                <li>Address: <span>Josephin Villa,
                                                        81 Fulton Park, Brazil/Pedro Leopoldo</span> </li>
                                                <li>Phone: <span>(012) 345-678-9012</span></li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>
                                <div class="col-xl-3 col-lg-6">
                                    <address class="info-grid">
                                        <div class="info-content">
                                            <h5 class="title_infos"> <span class="mdi mdi-cart"></span> Order
                                                info</h5>
                                            <ul>
                                                <li>Vendor: <span>Style echo</span></li>
                                                <li>Address: <span>Maroon tower, 81 Fulton Park</span> </li>
                                                <li>Phone: <span>(012) 345-678-9012</span></li>
                                            </ul>
                                            <a href="#!">View profile</a>
                                        </div>
                                    </address>
                                </div>
                                <div class="col-xl-3 col-lg-6">
                                    <address class="info-grid">
                                        <div class="info-content">
                                            <h5 class="title_infos"> <span class="mdi mdi-card-bulleted"></span>Payment
                                                info</h5>
                                            <ul>
                                                <li>Payment method: <span>Credit card</span></li>
                                                <li>Master: <span>card: **** **** **** 5794</span> </li>
                                                <li>Business name:<span>Grand Market LLC</span> </li>
                                                <li>Phone: <span>(012) 345-678-9012</span></li>
                                            </ul>
                                        </div>
                                    </address>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="ec-odr-dtl card card-default mt-5">
                        <div class="card-header card-header-border-bottom d-flex justify-content-between">
                            <h2 class="ec-odr">Product summary</h2>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped o-tbl">
                                            <thead>
                                                <tr class="line">
                                                    <td><strong>Order ID</strong></td>
                                                    <td><strong>Photo</strong></td>
                                                    <td><strong>Product name</strong></td>
                                                    <td><strong>Unit</strong></td>
                                                    <td><strong>Price</strong></td>
                                                    <td><strong>Sub total</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>#JK5876GH</td>
                                                    <td><img class="product-img"
                                                            src="https://andit.co/projects/html/andshop/andshop-dashboard/assets/img/products/pro-1.png"
                                                            alt=""></td>
                                                    <td>Corporate office chair</td>
                                                    <td>10 Units</td>
                                                    <td>$1,000</td>
                                                    <td>$10,000</td>
                                                </tr>
                                                <tr>
                                                    <td>#JK5876GH</td>
                                                    <td><img class="product-img"
                                                            src="https://andit.co/projects/html/andshop/andshop-dashboard/assets/img/products/pro-2.png"
                                                            alt=""></td>
                                                    <td>Corporate office chair</td>
                                                    <td>10 Units</td>
                                                    <td>$1,000</td>
                                                    <td>$10,000</td>
                                                </tr>
                                                <tr>
                                                    <td>#JK5876GH</td>
                                                    <td><img class="product-img"
                                                            src="https://andit.co/projects/html/andshop/andshop-dashboard/assets/img/products/pro-3.png"
                                                            alt=""></td>
                                                    <td>Corporate office chair</td>
                                                    <td>10 Units</td>
                                                    <td>$1,000</td>
                                                    <td>$10,000</td>
                                                </tr>
                                                <tr>
                                                    <td>#JK5876GH</td>
                                                    <td><img class="product-img"
                                                            src="https://andit.co/projects/html/andshop/andshop-dashboard/assets/img/products/pro-4.png"
                                                            alt=""></td>
                                                    <td>Corporate office chair</td>
                                                    <td>10 Units</td>
                                                    <td>$1,000</td>
                                                    <td>$10,000</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                    </td>
                                                    <td class="text-right"><strong>Total:</strong></td>
                                                    <td class="text-right"><strong>$42,000</strong></td>
                                                </tr>

                                                <tr>
                                                    <td colspan="4">
                                                    </td>
                                                    <td class="text-right"><strong>Vat (15%):</strong></td>
                                                    <td class="text-right"><strong>$6,200</strong></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                    </td>
                                                    <td class="text-right"><strong>Discount:</strong></td>
                                                    <td class="text-right"><strong>$10,200</strong></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">
                                                    </td>
                                                    <td class="text-right"><strong>Grand total:</strong></td>
                                                    <td class="text-right"><strong>$38,000</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tracking Detail -->
                    <div class="card ec-odr-dtl card card-default mt-4 trk-order">
                        <div class="card-header card-header-border-bottom order_tracking_title">
                            <h3>Order tracking id: <span>#JK54736OM</span></h3>
                        </div>
                        <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-custom">
                            <div class="order_details_shipment w-100 py-1 px-2">
                                <h3>Shipped via: <span>DHL courier service int.</span></h3>
                            </div>
                            <div class="order_details_shipment w-100 py-1 px-2">
                                <h3>Status: <span>Product dispatch</span></h3>
                            </div>
                            <div class="order_details_shipment w-100 py-1 px-2">
                                <h3>Delivery date: <span>31 Mar 2022</span></h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div
                                class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                                <div class="step completed">
                                    <div class="step-icon-wrap">
                                        <div class="step-icon"><i class="mdi mdi-cart-plus"></i></div>
                                    </div>
                                    <h4 class="step-title">Confirmed Order</h4>
                                </div>
                                <div class="step completed">
                                    <div class="step-icon-wrap">
                                        <div class="step-icon"><i class="mdi mdi-repeat"></i></div>
                                    </div>
                                    <h4 class="step-title">Processing Order</h4>
                                </div>
                                <div class="step completed">
                                    <div class="step-icon-wrap">
                                        <div class="step-icon"><i class="mdi mdi-gift"></i></div>
                                    </div>
                                    <h4 class="step-title">Product Dispatched</h4>
                                </div>
                                <div class="step">
                                    <div class="step-icon-wrap">
                                        <div class="step-icon"><i class="mdi mdi-truck-fast"></i></div>
                                    </div>
                                    <h4 class="step-title">On Delivery</h4>
                                </div>
                                <div class="step">
                                    <div class="step-icon-wrap">
                                        <div class="step-icon"><i class="mdi mdi-shopping"></i></div>
                                    </div>
                                    <h4 class="step-title">Product Delivered</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Content -->
    </div> <!-- End Content Wrapper -->
    <th:block layout:fragment="footer_optional">
        <!-- Datatables -->
        <script th:src="@{/admin/plugins/data-tables/jquery.datatables.min.js}"></script>
        <script th:src="@{/admin/plugins/data-tables/datatables.bootstrap5.min.js}"></script>
        <script th:src="@{/admin/plugins/data-tables/datatables.responsive.min.js}"></script>
        <!-- Option Switcher -->
        <script th:src="@{/admin/plugins/options-sidebar/optionswitcher.js}"></script>
    </th:block>
</body>

</html>