<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">

<head>
    <title>Forgot Password</title>
</head>

<body>
    <!-- Banner Area -->
    <section id="common_banner_one" layout:fragment="banner">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_banner_text">
                        <h2>Forgot Password</h2>
                        <ul>
                            <li><a th:href="@{/home}">Home</a></li>
                            <li><i class="fas fa-slash"></i></li>
                            <li class="active">Forgot Password</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Order-Tracking-Area -->
    <section id="order_tracking" class="ptb-100" layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="order_tracking_wrapper">
                        <h4>Forgot Password</h4>
                        <p>To re-issue a new password please enter your email in the box below and press the "Submit"
                            button.
                        </p>
                        <form th:action="@{/send-new-password}" method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control"
                                    placeholder="Enter your email address" required>
                                <p class="mt-4" th:text="${message}"></p>
                            </div>
                            <div class="order_track_button">
                                <button type="submit" class="theme-btn-one btn-black-overlay btn_md">Submit</button>
                            </div>
                        </form>
                        <div class="text-end">
                            <a th:href="@{/login}" class="text-decoration-none"><i class="fa fa-arrow-left"></i> Back to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>