<!DOCTYPE html>
<html lang="en" layout:decorate="~{admin/layout}">

<head>
    <title>Add coupon</title>
</head>

<body>
    <!-- CONTENT WRAPPER -->
    <div class="ec-content-wrapper" layout:fragment="content">
        <div class="content">
            <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
                <div>
                    <h1>Add Product</h1>
                    <p class="breadcrumbs"><span><a href="/admin">Home</a></span>
                        <span><i class="mdi mdi-chevron-right"></i></span>Edit coupon
                    </p>
                </div>
                <div>
                    <a href="/admin/coupon" class="btn btn-primary"> View All
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header card-header-border-bottom">
                            <h2>Edit coupon</h2>

                        </div>
                        <div th:if="${message != null}" th:text="${message}" class="alert alert-danger mt-4">

                        </div>
                        <div class="card-body">
                            <div class="row ec-vendor-uploads">
                                <form method="POST" th:action="@{/admin/coupon/add}" th:object="${coupon}"
                                    class="row g-3" enctype="multipart/form-data">
                                    <div class="col-lg-8">
                                        <div class="ec-vendor-upload-detail">
                                            <div class="row g-3">
                                                <div class="col-md-6">
                                                    <label for="color" class="form-label">Name</label>
                                                    <input type="text" class="form-control slug-title"
                                                        placeholder="Name" th:field="*{name}">
                                                    <p class="text-danger" th:each="error: ${#fields.errors('name')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="discountPercent" class="form-label">Discount
                                                        percent</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Discount percent" name="discountPercent" min="0"
                                                        th:field="*{discountPercent}">
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('discountPercent')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="startDate" class="form-label">Start day</label>
                                                    <input type="date" class="form-control" placeholder="Start date"
                                                        min="0" id="startDate" th:field="*{startDate}">
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('startDate')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="endDate" class="form-label">End day</label>
                                                    <input type="date" class="form-control" placeholder="End date"
                                                        min="0" id="startDate" th:field="*{endDate}">
                                                    <p class="text-danger" th:each="error: ${#fields.errors('endDate')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="form-label">Describe</label>
                                                    <textarea class="form-control" rows="2"
                                                        th:field="*{description}"></textarea>
                                                    <p class="text-danger"
                                                        th:each="error: ${#fields.errors('description')}"
                                                        th:text="${error}"></p>
                                                </div>
                                                <div class="form-group col-12 form-check form-switch m-3">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="isActived" checked th:field="*{isActived}">
                                                    <label class="form-check-label" for="isActived">Active</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="product_add_cancel_button">
                                                        <button type="submit" class="btn btn-border">Cancel</button>
                                                        <button type="submit" class="btn btn-primary">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Content -->
    </div> <!-- End Content Wrapper -->

    <th:block layout:fragment="footer_optional">
        <!-- Option Switcher -->
        <script th:src="@{/admin/plugins/options-sidebar/optionswitcher.js}"></script>
        <script>
            function selectedCategory(sel) {
                alert(sel.value);
            }
        </script>
    </th:block>
</body>

</html>